<app-portal-cards></app-portal-cards>
<div class="row">
  <div class="col-12 mb-3" style="height: 60vh">
    <div class="container rounded bg-white" style="height: 60vh">
      <h3 class="py-4">
        Things To Do
        <hr />
      </h3>
      <div class="row text-center">
        <div class="col-6">
          <a name="" id="" class="btn btn-success" href="#" role="button"
            ><i class="fas fa-eye"></i> View Bank Accounts</a
          >
        </div>
        <div class="col-6">
          <a name="" id="" class="btn btn-success" href="#" role="button"
            ><i class="fas fa-home"></i> View Household</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
