
<app-portal-cards></app-portal-cards>
<div class="row">
  <div class="col-12 mb-3" style="height: 60vh">
    <div class="container rounded bg-white" style="height: 60vh">

        <h3 class="pt-4">
          Your Bank Accounts
          <button class="btn btn-success float-right" type="submit">
            <i class="fas fa-plus"></i> Create Bank Account
          </button>
          <hr />
        </h3>



      <div class="row bg-white" style="max-height: 50vh">

        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Transaction Cost</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Demo Account 1</td>
                <td>Savings</td>
                <td>2</td>
                <td>
                  <button type="button" class="btn btn-success">
                    <i class="fas fa-eye"></i> View
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </td>
              </tr>
              <tr>
                <td>Demo Account 2</td>
                <td>Checking</td>
                <td>1</td>
                <td>
                  <button type="button" class="btn btn-success">
                    <i class="fas fa-eye"></i> View
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>





    </div>
  </div>
</div>
